# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyc

# Environment files
.env

# Virtual environment
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/

# PyCharm
.idea/

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

output/*
